<div class="footer">
    <br><hr style="padding-bottom: 5px;">
    <a style="padding: 10px" href="{{ site.github_link }}" >
    	<img alt="github" src="{{site.baseurl}}/{{site.github_location}}"
        width="25" height="25">
    </a>
    <a style="padding: 10px" href="{{ site.linkedin_link }}" >
    	<img alt="linkedin" src="{{site.baseurl}}/{{site.linkedin_location}}"
        width="25" height="25">
    </a>
    <a style="padding: 10px" href="{{ site.facebook_link }}" >
    	<img alt="facebook" src="{{site.baseurl}}/{{site.facebook_location}}"
        width="25" height="25">
    </a>
    <a style="padding: 10px" href="{{ site.email_link }}" >
    	<img alt="email" src="{{site.baseurl}}/{{site.email_location}}"
        width="25" height="25">
    </a>
    <br>
</div>
